* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.memory {
    width: 80%;
    height: 100vh;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    background-size: cover;
    background-position: center;
}

.text-section, .end-section {
    width: 80%;
    height: 20vh;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.text-section {
    padding: 20px;
    text-align: center;
    font-family: "La Belle Aurore", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    color: #333;
}

.end-section {
    flex-direction: column;
    color: white;
}

#redirect-button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#redirect-button:hover {
    background-color: #ff3b2f;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .memory, .text-section, .end-section {
        width: 95%;
    }
}